---
import "@/styles/global.css";
import JobsTable from "@/components/jobs-table.tsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>WalkScape Job Tiers (not a Not A Cult tool)</title>
    <link rel="icon" type="image/svg+xml" href="/Job_Boards_Icon.svg" />
  </head>
  <body class="bg-background text-foreground font-sans">
    <JobsTable client:load />
  </body>
</html>
